CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_DEFAULT_DEVICE_TREE="elegoo-centauri-carbon2"
CONFIG_SPL=y
CONFIG_MACH_SUN8I_R528=y
CONFIG_DRAM_CLK=792
CONFIG_DRAM_ZQ=8092667
CONFIG_SUNXI_MINIMUM_DRAM_MB=128
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
CONFIG_DRAM_SUNXI_ODT_EN=0
CONFIG_DRAM_SUNXI_TPR0=0x004a2195
CONFIG_DRAM_SUNXI_TPR11=0x340000
CONFIG_DRAM_SUNXI_TPR12=0x46
CONFIG_DRAM_SUNXI_TPR13=0x34000100
CONFIG_CONS_INDEX=1
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_OHCI_HCD=y
CONFIG_CMD_USB=y
CONFIG_CMD_SUNXI_EFEX=y
CONFIG_CMD_CACHE=y
CONFIG_USB_GADGET=y
CONFIG_USB_GADGET_DOWNLOAD=y
CONFIG_CMD_USB_MASS_STORAGE=y
CONFIG_USB_FUNCTION_MASS_STORAGE=y
CONFIG_USB_MUSB_GADGET=y
CONFIG_USB_MUSB_SUNXI=y

# Display / splash screen
CONFIG_VIDEO=y
CONFIG_DM_VIDEO=y
CONFIG_VIDEO_DE2=y
CONFIG_VIDEO_DT_SIMPLEFB=y
CONFIG_DISPLAY=y
CONFIG_VIDEO_LCD_IF_PARALLEL=y
CONFIG_VIDEO_LCD_DCLK_PHASE=0
CONFIG_VIDEO_MIPI_DSI=y
CONFIG_VIDEO_DW_MIPI_DSI=y
CONFIG_VIDEO_SIMPLE=y
CONFIG_SPLASH_SCREEN=y
CONFIG_SPLASH_SCREEN_ALIGN=y
CONFIG_BACKLIGHT_GPIO=y
CONFIG_BMP=y
CONFIG_BMP_16BPP=y
CONFIG_BMP_24BPP=y
CONFIG_BMP_32BPP=y
CONFIG_CMD_BMP=y

CONFIG_SPL_LOG=y
CONFIG_SPL_LOG_MAX_LEVEL=7
CONFIG_SPL_LOG_CONSOLE=y
CONFIG_SPL_STACK_R_ADDR=0x47e00000

CONFIG_ENV_SOURCE_FILE="elegoo-centauri-carbon2"
CONFIG_ENV_SIZE=0x20000
CONFIG_ENV_OFFSET=0x1A66000
CONFIG_ENV_OFFSET_REDUND=0x1AA5000
# CONFIG_ENV_IS_IN_FAT is not set
CONFIG_ENV_IS_IN_MMC=y
CONFIG_ENV_REDUNDANT=y
# CONFIG_USE_ENV_MMC_PARTITION is not set
# CONFIG_ENV_MMC_USE_DT is not set
