# Don't rely on env on MMC
# CONFIG_ENV_IS_IN_MMC is not set
# CONFIG_ENV_REDUNDANT is not set
CONFIG_ENV_IS_NOWHERE=y
# CONFIG_ENV_SOURCE_FILE is not set

# Provide our own bootargs and bootcmd for USB booting
CONFIG_BOOTDELAY=3
CONFIG_USE_BOOTARGS=y
CONFIG_BOOTARGS="console=ttyS0,115200 earlycon=uart8250,mmio32,0x02500000 root=/dev/sda2 rootwait"
CONFIG_USE_BOOTCOMMAND=y
CONFIG_BOOTCOMMAND="fatload usb 0:1 43000000 zImage; fatload usb 0:1 43800000 elegoo-centauri-carbon1.dtb; bootz 43000000 - 43800000"
